.errorContainer {
    text-align: center;
    margin: auto auto;
    margin-top: 50px;
    width: 90vw;
    height: 65vh;
    border: 1px solid lightgrey;
}

.errorTitle {
    font-size: 36px;
    color: slategray
}